@import "../../../styles/variable.scss";

.learningbundle-card {
    .textbook-logo {
        width: 64px;
        height: 64px;
        float: left;
        margin-right: 16px;
    }
    .card-title {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
    }
    .card-option-btn {
        float: right;
        width: 24px;
        height: 24px;
        font-size: 20px;
        color: $color-secondary;
        text-align: center;
        line-height: 24px;
    }
    .card-body {
        clear: both;
        .chapter-text {
            padding-top: 16px;
        }
        .chapter-names {
            color: $color-text-dark;
            margin: 0;
        }
        .chapter-describe {
            color: $color-text-light;
            margin: 0;
        }
    }
}
