@import "../../../styles/variable";

.selectedInputPages-wrapper {
    display: inline-block;
    width: 100%;
    margin-top: 30px;
    padding-left: 9px;

    .selectedInputPages {
        width: 25%;
        float: left;
    }
}

.homework-list-item {
    .small-padding-cell {
        padding: 4px 8px !important;
    }
}

.homework-create-complete {
    .complete-message {
        text-align: center;
        font-size: 20px;
        color: $color-primary;
        margin: 2em 0;
    }
}

.openhomework-list-group-header {
    margin: 16px 0;
    font-weight: bold;
    font-size: 16px;
}
