@import "../../../styles/variable";

.textbook-chapter-picker {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100vh - 265px);
    max-height: 500px;
    min-height: 150px;
    ul {
        padding-left: 2em;
    }
}
