.teacher-header {
    width: 100%;
    height: 64px;
    background: white;

    .header-container {
        width: 1080px;
        height: 100%;
        margin: 0 auto;

        .side-menu-toggle-btn {
            display: inline-block;
        }

        .service-logo {
            display: inline-block;
        }

        .header-left {
            height: 100%;
            display: inline-flex;
            align-items: center;
        }
        .header-right {
            height: 100%;
            display: inline-flex;
            align-items: center;
        }
    }
}

