/*
Application Settings Go Here
------------------------------------
This file acts as a bundler for all variables/mixins/themes, so they
can easily be swapped out without `core.scss` ever having to know.

For example:

@import './variables/colors';
@import './variables/components';
@import './themes/default';
*/
@import './variable.scss';

body {
}

.loading-view {
    display: inline-block;
    width: 50px;
    color: transparent !important;
    pointer-events: none;
    margin: 0;
    &:after {
        -webkit-animation: spinAround 500ms infinite linear;
        animation: spinAround 500ms infinite linear;
        border: 2px solid #f00;
        border-radius: 1em;
        border-right-color: transparent;
        border-top-color: transparent;
        content: "";
        display: block;
        height: 1em;
        width: 1em;
        margin-left: calc(50% - .5em);
        margin-top: -1em;
    }
}

.loading-view-container {
    padding: 24px;
    text-align: center;
}

.font-color-text-light {
    color: $color-text-light;
}

@media screen and (max-width: 850px) {
    .hide-when-w-850 {
        display: none !important;
    }
    .show-when-w-850 {
        display: block !important;
    }
}

@media screen and (max-width: 768px) {
    .hide-when-w-768 {
        display: none !important;
    }
}

@media screen and (min-width: 850px) {
    .hide-when-w-over-850 {
        display: none !important;
    }
}

@media screen and (max-height: 680px) {
    .hide-when-h-680 {
        display: none !important;
    }
}
