@import "../../../styles/variable";

.select-unit {
    $level-1: #c3c3c3;
    $level1: #8BC34A;
    $level2: #FF9800;
    $level3: #F44336;

    .level-1 {
        border: 2px solid $level-1;
    }
    .level1 {
        border: 2px solid $level1;
    }
    .level2 {
        border: 2px solid $level2;
    }
    .level3 {
        border: 2px solid $level3;
    }

    .select-unit-header {
        display: inline-flex;
        justify-content: flex-end;
        flex-direction: column;
        flex-flow: wrap;
        width: 100%;

        .modal-title-menu {
            display: inline-flex;
            justify-content: flex-end;
            flex-direction: column;
            flex-flow: wrap;

            .level {
                padding: 0 8px;
                border-radius: 4px;
                font-size: 12px;
                line-height: 30px;
            }
        }
    }

    .select-unit-wrapper {
        display: flex;
        flex-direction: row;

        .unit-wrapper {
            column-width: 340px;
            column-count: 2;
            column-gap: 8px;

            .unit {
                position: relative;
                border-radius: 4px;
                float: left;
                margin: 0 0 8px 0;
                padding: 4px 4px 16px 4px;
                break-inside: avoid-column;
                min-height: 70px;

                > img {
                    width: 100%;
                }

                .btn-trash {
                    position: absolute;
                    bottom: 8px;
                    right: 8px;
                    background-color: white;
                    border: 1px solid #cccccc;
                    border-radius: 4px;

                    i {
                        color: #333333;
                    }
                }
            }
        }
        .trash-wrapper {
            border-left: 1px solid #cccccc;
            background-color: #ffffff;
            padding-left: 8px;
            margin-left: 8px;

            h3 {
                text-align: center;
                margin: 0 0 8px 0;
            }

            .unit {
                position: relative;
                border-radius: 4px;
                margin: 0 0 4px 0;
                padding: 4px 4px 16px 4px;

                > img {
                    width: 120px;
                }

                .btn-redo {
                    position: absolute;
                    bottom: 3px;
                    right: 3px;
                    background-color: white;
                    border: 1px solid #cccccc;
                    border-radius: 4px;

                    i {
                        color: #333333;
                    }
                }
            }
        }
    }

}
