
.no-ul-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mad-tab-integration {
    padding: 15px;
    list-style: none;
    border: 1px solid #ddd;
    border-top: none;
    margin-top: -1px;
}
