@import "../../../styles/variable";

.homework-structure-list {
    .item-wrapper {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
        align-items: center;
        border-bottom: 1px solid #eeeeee;

        &.top {
            border-top: 1px solid #000000;
        }

        .item {
            padding:0 5px;
        }

        .item-title {
            text-align: left;
        }

        .item-description {
            text-align: right;
        }
    }

}
