@import "../../../styles/variable";

.report-list {
    .student-search-header {
        display: flex;
    }

    .selectedInputPages-wrapper {
        display: inline-block;
        width: 100%;
        margin-top: 30px;

        .selectedInputPages {
            width: 25%;
            float: left;
        }
    }
    .alert-div {
        justify-content: flex-end;
        padding-top: 0 !important;

        .alert {
            background-color: #ee9c28;
            border-radius: 7px;
            color: #ffffff;
            line-height: 15px;
            padding: 7px;
        }
    }

    .recent-sms-history-info {
        display: block;
        color: gray;
        margin-top: 4px;
    }
}

.create-report {
    margin-top: 28px;
    font-size: 14px;
    .label {
        display: inline-flex;
        align-items: center;
        text-align: left;
    }
}
