@import "../../../styles/variable";

.user-info {
    .student-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .student-search-header {
        display: flex;
    }

    .student-list {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
